<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body class="pr-16 pl-16 pb-16 dark:bg-neutral-900 bg-white text-white overflow-y-scroll">
    <nav
      class="mb-10  sticky top-0 z-10 block w-full max-w-full px-4 py-2 dark:text-white bg-white dark:bg-neutral-900  rounded-none shadow-md h-max bg-opacity-80 backdrop-blur-2xl backdrop-saturate-200 lg:px-8 lg:py-4"
    >
      <div class="flex items-center justify-between text-blue-gray-900">

        <a
          href="/"
          class="mr-4 block cursor-pointer py-1.5 font-sans font-extrabold leading-relaxed text-inherit antialiased text-xl"
        >
        NotesForProfessionals
        </a>
        <div class="flex items-center gap-4">
          <div class="hidden mr-4 lg:block">
            <ul
              class="flex flex-col gap-2 mt-2 mb-4 lg:mb-0 lg:mt-0 lg:flex-row lg:items-center lg:gap-6"
            >
              <li
                class="block p-1 font-sans text-md antialiased font-normal leading-normal text-blue-gray-900"
              >
                <a href="{% url "books" %}" class="flex items-center ">Notebooks </a>
              </li>
              <li
                class="block p-1 font-sans text-md antialiased font-normal leading-normal text-blue-gray-900"
              >
                <a href="{% url "likes" %}" class="flex items-center "> Favorites </a>
              </li>
            </ul>
          </div>
          <div class="flex items-center gap-x-1">
            {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button
              class="hidden select-none rounded-lg bg-gradient-to-tr from-gray-900 to-gray-800 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none lg:inline-block"
            >
              <span> Log Out </span>
            </button>
            </form>
            {% else %}
              <a href="{% url 'login' %}">
              <button
              class="hidden select-none rounded-lg bg-gradient-to-tr from-gray-900 to-gray-800 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none lg:inline-block"
            >
              <span> Log In </span>
            </button>
            </a>
            {% endif %}

          </div>
          <button
            class="relative ml-auto h-6 max-h-[40px] w-6 max-w-[40px] select-none rounded-lg text-center align-middle font-sans text-xs font-medium uppercase text-inherit transition-all hover:bg-transparent focus:bg-transparent active:bg-transparent disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none lg:hidden"
            type="button"
          >
            <span
              class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4 6h16M4 12h16M4 18h16"
                ></path>
              </svg>
            </span>
          </button>
        </div>
      </div>
    </nav>
    {% block content %} {% endblock %}
    <script src="{% static 'js/base.js' %}"></script>
    <script src="https://unpkg.com/@material-tailwind/html@latest/scripts/collapse.js"></script>
    <script src="https://kit.fontawesome.com/402302bc43.js" crossorigin="anonymous"></script>
  </body>
</html>
