<!-- templates/home.html -->
{% extends "_base.html" %} {% block title %}Notebooks{% endblock title %}
{% load static %} {% block content %}
<div class="grid md:grid-cols-3 gap-y-20 gap-x-20 grid-cols-1">
  {% for book in books %}

  <div
    class="flex flex-col items-center justify-center w-full max-w-sm mx-auto transition-all duration-200 delay-75 ease-in"
  >
    <img
      class="w-full h-full rounded-lg shadow-md"
      src="{% static 'NotesForProfessionals/covers/' %}{{ book.cover_url }}"
      alt="{{ book.title }}"
    />

    <div
      class="w-56 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg md:w-64 dark:bg-neutral-800"
    >
      <h3
        class="py-2 font-bold tracking-wide text-center text-xs text-neutral-800 uppercase dark:text-white"
      >
        {{book.title}}
      </h3>

      <div
        class="flex items-center justify-evenly gap-1 px-3 py-2 bg-neutral-200 dark:bg-neutral-700"
      >

      {% if book in favorites %}
        <form action="{% url 'remove_from_favorites' book.id %}" method="post">
          {% csrf_token %}
          <button
            class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-neutral-800 rounded hover:bg-neutral-700 dark:hover:bg-neutral-600 focus:bg-neutral-700 dark:focus:bg-neutral-600 focus:outline-none"
          >
            <i class="fa-solid fa-ban"></i>
            Unbookmark
          </button>
        </form>
        {% else %}
        <form action="{% url 'add_to_favorites' book.id %}" method="post">
          {% csrf_token %}
          <button
            class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-neutral-800 rounded hover:bg-neutral-700 dark:hover:bg-neutral-600 focus:bg-neutral-700 dark:focus:bg-neutral-600 focus:outline-none"
          >
            <i class="fa-solid fa-bookmark"></i>
            Bookmark
          </button>
        </form>
        {% endif %}
        <a
          href="{% static 'NotesForProfessionals/pdfs/' %}{{ book.pdf_url }}"
          download="{{ book.title }}.pdf"
        >
          <button
            class="px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-300 transform bg-neutral-800 rounded hover:bg-neutral-700 dark:hover:bg-neutral-600 focus:bg-neutral-700 dark:focus:bg-neutral-600 focus:outline-none"
          >
            <i class="fa-solid fa-download"></i>
            Download
          </button>
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
